html
    head
        a(href="/") Go back to the home page
        | #{" "} | 
        a(href="/artworks") View list of all artworks
        | #{" "} |
        a(href="/users/artists") See list of artists
        br

        title #{pugData.Title}
        div#main-heading
            h1 You are at the page of the artwork: #{pugData.Title} 
        link(rel="stylesheet", href="/style.css")

    body
        div#sub-heading
            h2 General information about this artwork: 
        div#left-right-grid
            div#left
                p <strong>Artist of #{pugData["Title"]}</strong>: #{pugData.Artist}
                p <strong>Published year</strong>: #{pugData.Year}
                p <strong>Artwork's category</strong>: #{pugData.Category}
                p <strong>Medium of the artwork</strong>: #{pugData.Medium}
                p <strong>Description</strong>: #{pugData.Description}
                p <strong>Illustration</strong>:
                    br
                    img(id="artIllustration" src=`${pugData.Poster}`, alt=`${pugData["Title"]}`)